<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射实体类 -->
<mapper  namespace="com.user.model.User"  >
<!--映射添加方法名，形参  -->
		<insert  id="add"  parameterType="User">
		insert into  t_user(username,password,address,phone,email)  values(#{username},#{password},#{address},#{phone},#{email})
		</insert>
<!--映射删除方法名，形参  -->
		<delete id="delete" parameterType="int">
		delete from t_user where  id=#{id}
		</delete>
	<!--映射编辑方法名，形参  -->	
		<update id="edit" parameterType="User">
		update t_user  set  username=#{username},password=#{password},address=#{address},phone=#{phone},email=#{email} where id=#{id};
		</update>
		<!--映射查询方法名，形参  -->		
		<select id="selectAll"     resultType="User">
		select *  from  t_user
		</select>
		<select  id="selectByUsername"  parameterType="String"  resultType="User">
				select   *  from  t_user  
	            where username  like #{username} 
		</select>
</mapper>
